<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ban announcement</title>

  <style>
    span  {
      font-weight: bold;
    }
  </style>
</head>
<body>

<h2>Dear <span th:text = "${name}"></span> </h2>
<p>If you've received a ban announcement vai email</p>
<p>We really sorry to you that our admin banned you according to many reports related to your posting on Domrra </p>
<p>So you can log into our Domrra website for a few days until our admin unbanned you</p>
<p>Good luck and wait for unban announcement</p>
<br>
<h4>Sincerely,</h4>
<br>
<h4>Domrra Team</h4>
</body>
</html>