<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
    span  {
      font-weight: bold;
    }
  </style>
</head>
<body>

<h5>Dear <span th:text = "${name}"></span> </h5>
<p>If you've received a approbation vai email</p>
<p>Congratulation that you have accepted to be our author on domrra</p>
<p>We hope you will be a good author who share the good knowledge <br> to our platform, Enjoy your mission with us</p>
<br>
<h6>Sincerely,</h6>
<br>
<h6>Domrra Team</h6>
</body>
</html>