<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
    span  {
      font-weight: bold;
    }
  </style>
</head>
<body>

<h2>Dear <span th:text = "${name}"></span> </h2>
<p>If you've received a approbation vai email</p>
<p>Congratulation that you have accepted to be our author on domrra</p>
<p>We hope you will be a good author who share the good knowledge <br> to our platform, Enjoy your mission with us</p>
<br>
<h4>Sincerely,</h4>
<br>
<h4>Domrra Team</h4>
</body>
</html>